<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <p>User: <%= message.user %></p>
    <p>Message: <%= message.text %></p>
    <p>Added: <%= message.added %></p>
    <a href="/">Back to Messages</a>
  </body>
</html>
